@import url('./Mobile/css/gfonts.css');

* {
	box-sizing: border-box;
  align-items: center;
	justify-content: center;
}

body {
	background-color: #000;
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: auto;
	height: auto;
}



p {
	margin: 5px 0;
}

h1 {
  font-size: 8vw;
	text-align: center;
	text-shadow: red -2px 0, cyan 2px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
	text-align: center;
	text-shadow: red -5px 0, cyan 5px 0;
}
