@import url('./Mobile/css/gfonts.css');

* {
	box-sizing: border-box;
}

body {
	background-color: #1b1a2a;
	background-image: url("backgroundDo.svg");
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100%;
}

h1 {
	transition: 1s;
	font-size: 50px;
}
h1:hover {
	transform: translateY(2px);
}
p {
	margin: 5px 0;
	transition: 1s;
	margin-bottom: 20px;
	font-size: 30px;
}
p:hover {
	transform: translateY(2px);
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
	transition: 1s;
}
h2:hover {
	transform: translateY(2px);
}

input[type=checkbox] {
	margin-right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.7);
  position: fixed;
  top: 0;
  width: 95%;
	backdrop-filter: blur(2rem);
	-webkit-backdrop-filter: blur(2rem);
	margin-top: 10px;
	border-radius: 15px;
	transition: 1s;
	z-index: 1;
}

ul:hover {
	transform: translateY(1px);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	transition: 1s;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgba(17,82,222,255);
}

.float1 {
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.container0 {
	background-color: rgba(17,82,222,0.2);
	margin-top: 10%;
	padding: 20px;
	padding-left: 40px;
	width: 40%;
	height: auto;
	max-width: 100%;
	border-radius: 25px;
margin-left: 50vh;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(2rem);
	-webkit-backdrop-filter: blur(2rem);
	transition: 1s;
}

.container0:hover {
	transform: translateY(2px);
}
