@import url('./Mobile/css/gfonts.css');
/* https://fonts.googleapis.com/css?family=Muli&display=swap */
* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	background-color: #1b1a2a;
	background-image: url("background1.svg");
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100%;
	transition: 1s;
	overflow-y: hidden;
  overflow-x: hidden;
}



p {
	margin: 5px 0;
	transition: 1s;
}
p:hover {
	transform: translateY(2px);
}
h1 {
	margin: 10px 0 20px;
	text-align: center;
	font-size: 80px;
	transition: 1s;
	animation: start02 3s;

}
@keyframes start02 {
  from { opacity: 0 }
  to { opacity: 100% }
}
strong:hover {
	transform: translateY(2px);
}
h1:hover {
	transform: translateY(2px);
}
h3 {
		transition: 1s;
}
h3:hover {
	transform: translateY(2px);
}
input[type=checkbox] {
	margin-right: 0;
	visibility: collapse;
	width: 0px;
	height: 0px;
}

.float1 {
	height: 100%;
	width: 100%;
}
.container0 {
	background-color: #ffffff00;
	margin-top: 15%;
	padding: 5px;
	width: 70%;
	height: 100%;
	max-width: 100%;
	border-radius: 25px;
	margin-left: 15%;
	opacity: 99%;
	display: flex;
justify-content: center;
align-items: center;
}

.container0 h1 {
	color: #04AA6D;
}

.container {
	background-color: #ffffff00;
	margin-top: 0%;
	padding: 5px;
	width: 70%;
	height: 100%;
	max-width: 100%;
	border-radius: 25px;
	margin-left: 15%;
	opacity: 99%;
	display: flex;
justify-content: center;
align-items: center;
animation: start03 2s;
}
@keyframes start03 {
  from { margin-left: 200% }
  to { margin-left: 15% }
}
.result-container {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
	border-radius: 25px;
	transition: 1s;
}

.result-container:hover {
	transform: translateY(2px);
}


.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
	transition: 1s;
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #0e664e;
	border-radius: 100%;
	transition: 1s;
}
.btn:hover {
	transform: translateY(2px);
}
.btn-btn-large{
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #083d2f;
	border-radius: 25px;
	opacity: 1;
	text-align: center;
	justify-content: center;
	align-items: center;
	transition: 1s;
	margin-left: 10px;
}

.btn-btn-large {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #083d2f;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 25px;
	z-index: 1;
}



.btn-btn-large span {
  position: relative;
  z-index: 1;
}

.btn-btn-large:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 330%;
  width: 140%;
  background: #04AA6D;
  -webkit-transition: all .5s ease-in-out;
  transition: all 1s ease-in-out .1s;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn-btn-large:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



.btn-btn-large:hover {
	transform: translateY(2px);
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
	opacity: 0%;
	visibility: collapse;
	height: 0px;
	width: 0px;
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}
ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.7);
  position: fixed;
  top: 0;
  width: 95%;
	backdrop-filter: blur(2rem);
	margin-top: 10px;
	border-radius: 15px;
	transition: 1s;
	animation:
	start01 2s;

}
@keyframes start01 {
  from { width: 50% }
  to { width: 95% }
}
ul:hover {
	transform: translateY(1px);
}

li {
  float: left;
	transition: 1s;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	transition: 1s;
}

li a:hover:not(.active) {
  background-color: #111;
}
span {
	transition: 1s;
}
.active {
  background-color: #04AA6D;
	border-radius: 15px;
	transition: 1s;
}


.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: white;
}
.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
#btn-dow {
	height: 50px;
	width: 50px;
  border: none;
  display: inline;
  cursor: pointer;
  text-transform: uppercase;
	text-align: center;
  outline: none;
  overflow: hidden;
	position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #083d2f;
  margin-left: 10px;
  border-radius: 100%;
	z-index: 1;
	align-items: center;
	padding: 8px 12px;
	transition: 1s;
	-webkit-tap-highlight-color: transparent;
}


#btn-dow span {
  position: relative;
  z-index: 1;
}

#btn-dow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 230%;
  width: 20%;
  background: #04AA6D;
  -webkit-transition: all .5s ease-in-out;
  transition: all 1s ease-in-out .1s;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

#btn-dow:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



#btn-dow:hover {
	transform: translateY(2px);
}
#alert {
	visibility: hidden;
	border: none;
	display:block;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	overflow: hidden;
	position: fixed;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	background-color: rgba(14, 102, 78, 0.7);
	backdrop-filter: blur(2rem);
	border-radius: 15px;
	z-index: 1;
	align-items: center;
	padding: 8px 12px;
	width: auto;
	height: auto;
	left: 0px;
	-webkit-tap-highlight-color: transparent;
	bottom: 40px;
	left:auto;
}
#alert p {
	transition: 0s;
}
#alert p:hover {
	transform: translateY(0px);
}
#okay {
border: none;
color: #fff;
cursor: pointer;
font-size: 10px;
padding: 8px 12px;
background-color: #0e664e;
border-radius: 25px;
-webkit-tap-highlight-color: transparent;
height: 30px;
width: auto;

}

#cookiess {
	border: none;
	visibility: hidden;
	display:block;
	position: absolute;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	color:  #32E56F;
	font-weight: 700;
	font-size: 20px;
	background-color: rgb(31, 28, 75, 0.27);
		backdrop-filter: blur(2rem);
	border-radius: 15px;
	align-items: center;
	padding: 8px 12px;
	margin: auto;
z-index: 4;
	width: 60%;
	height: auto;
	-webkit-tap-highlight-color: transparent;
}
#cookiess p {
	transition: 0s;
}
#cookiess img {
	transition: 0s;

}
#cookiess p:hover {
	transform: translateY(0px);
}
#accept ,#decline {
border: none;
color: #fff;
cursor: pointer;
font-size: 10px;
padding: 8px 12px;
  background-color: #32E56F;
border-radius: 25px;
-webkit-tap-highlight-color: transparent;
height: 30px;
width: auto;

}
#big-cookie {
	font-size: 40px;
}
#command {
	visibility: hidden;
	width: 50%;
	height: 50%;
	margin: auto;
	margin-top: 25%;
	background-color: #000;
	position: absolute;
	text-overflow: ellipsis;
	overflow-y: auto;
	border-radius: 15px;
	padding-left: 10px;
	z-index: 812;
}

#command-inp {
	background: #000;
	color: #32e56f;
	border: none;
	width: 100%;
}

#bnt001917 {
	width: 0;
	height: 0;
	visibility: hidden;
}

#command p:hover {
	transform: translateY(0px);
}

#gax {
	height: auto;
	width: 100%;
}

.bottom {
	position: fixed;
	background-color: #69696900;
	width: 100%;
	height: 30px;
	bottom: 0;
	z-index: 11;
}
#bottomcc {
	background-color: #696969;
	border: none;
	float: right;
	margin-top: 6px;
	color: #32e56f;
	height: 20px;
	border-radius: 15px 0 0 15px;
	z-index: 11;
}
#versioncc {
	margin-left: 10px;
	z-index: 5;
}
.textorhtml {
	border: none;
	visibility: hidden;
	display: block;
	position: absolute;
	outline: none;
	overflow: hidden;
	color:  #32E56F;
	font-weight: 700;
	font-size: 20px;
	background-color: rgb(31, 28, 75, 0.27);
		backdrop-filter: blur(2rem);
	border-radius: 15px;
	align-items: center;
	padding: 8px 12px;
	margin: auto;
	margin-top: 25%;
z-index: 10;
	width: auto;
	height: auto;
	-webkit-tap-highlight-color: transparent;
}
.htmlf {
	float: right;
	text-align: center;
vertical-align: middle;
line-height: 50px;       /* The same as your div height */
}
.txtf {
	float: left;
	text-align: center;
vertical-align: middle;
line-height: 50px;       /* The same as your div height */
}
#dowtxt {
	border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #083d2f;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 25px;
	z-index: 1;
	transition: 1s;
}
#dowhtml {
	border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #083d2f;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 25px;
	z-index: 1;
}
.icontxt {
	width: 250px;
	height: 250px;
	text-align: center;
vertical-align: middle;
line-height: 250px;       /* The same as your div height */
	background-color: rgb(31, 28, 75, 0.70);
		backdrop-filter: blur(2rem);
		border-radius: 25px;
		margin-bottom: 20px;
}
.icontxt h3 {
	font-size: 50px;
}
.iconhtml {
	width: 250px;
	height: 250px;
	text-align: center;
vertical-align: middle;
line-height: 250px;       /* The same as your div height */
	background-color: rgb(31, 28, 75, 0.70);
		backdrop-filter: blur(2rem);
		border-radius: 25px;
		margin-bottom: 20px;
}
.iconhtml h3 {
	font-size: 50px;
}



#dowtxt span {
  position: relative;
  z-index: 5;
}

#dowtxt:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 330%;
  width: 140%;
  background: #04AA6D;
  -webkit-transition: all .5s ease-in-out;
  transition: all 1s ease-in-out .1s;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

#dowtxt:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



#dowtxt:hover {
	transform: translateY(2px);
}


#dowhtml span {
  position: relative;
  z-index: 5;
}

#dowhtml:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 330%;
  width: 140%;
  background: #04AA6D;
  -webkit-transition: all .5s ease-in-out;
  transition: all 1s ease-in-out .1s;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

#dowhtml:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



#dowtxt:hover {
	transform: translateY(2px);
}
#githublink {
	display: flex;
	width: auto;
	padding: 5px;
	background-color: rgba(0 ,0 ,0 , 0.0);
	border-radius: 25px;
	margin: auto;
	color: #fff;
	text-decoration: none;
}
.github {
	display: flex;
	width: 100%;
	text-align: center;
	animation: start04 2s;
}
@keyframes start04 {
  from { margin-left: 200% }
  to { margin-left: 0% }
}

.update {
	color: #32e56f;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
		background-color: rgba(0 ,0 ,0 , 0.7);
		top: 0;
		left: 0;
		place-items: center;
		text-align: center;
		backdrop-filter: blur(2rem);
		z-index: 10;
}
.update p {
	font-size: 25px;
}
.loader {
  width:50%;
	height: 5%;
  margin:0 auto;
  border-radius:90px;
  border:4px solid transparent;
  position:relative;
  padding:1px;
}
.loader:before {
  content:'';
  border:1px solid #32e56f;
  border-radius:10px;
  position:absolute;
  top:-4px;
  right:-4px;
  bottom:-4px;
  left:-4px;
}
.loader .loaderBar {
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:#32e56f;
  width:0;
  animation:borealisBar 1.5s linear infinite;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
		background-color: #32e56f00;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
	25% {
		background-color: #32e56f;
	}
	75% {
		background-color: #32e56f;
	}
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
		background-color: #32e56f00;
  }
}
