@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #1b1a2a;
	background-image: url("background1.svg");
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100%;
}

h1 {
	transition: 1s;
}
h1:hover {
	transform: translateY(2px);
}
p {
	margin: 5px 0;
	transition: 1s;
}
p:hover {
	transform: translateY(2px);
}
h2 {
	margin: 10px 0 20px;
	text-align: center;
	transition: 1s;
}

h2:hover {
	transform: translateY(2px);
}

input[type=checkbox] {
	margin-right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.7);
  position: fixed;
  top: 0;
  width: 95%;
	backdrop-filter: blur(2rem);
	margin-top: 10px;
	border-radius: 15px;
	transition: 1s;

}

ul:hover {
	transform: translateY(1px);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	transition: 1s;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.float1 {
	align-items: flex;
	justify-content: flex;
	height: 100%;
	width: 100%;
	text-align: center;
}
.container0 {
	background-color: rgba(14, 102, 78, 0.7);
	margin-top: 10%;
	padding: 20px;
	padding-left: 0px;
	width: 40%;
	height: 500px;
	max-width: 100%;
	border-radius: 25px;
	float: left;
	margin-left: 10%;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(2rem);
	transition: 1s;
}


.container0:hover {
	transform: translateY(2px);
}

.container {
	background-color: rgba(14, 102, 78, 0.7);
	margin-top: 10%;
	padding: 10px;
	width: 30%;
	max-width: 100%;
	border-radius: 25px;
	float: right;
	height: auto;
	margin-right: 15%;
	backdrop-filter: blur(2rem);
	transition: 1s;
}

.container:hover {
	transform: translateY(2px);
}
input {
	border-radius: 5px;
	width: 100%;
	border: 0%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	border-radius: 25px;
	text-align: left;
    outline-width: 0;
		background-color: rgba(0, 0, 0, 0.4);
		border-width: 0;
		color: #fff;
		transition: 1s;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	border-radius: 25px;
	outline-width: 0;
	background-color: rgba(0, 0, 0, 0.4);
	border-width: 0;
	color: #fff;
	transition: 1s;
}
input:hover {
	transform: translateY(2px);
}

textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	border-radius: 25px;
	text-align: left;
    outline-width: 0;
		background-color: rgba(0, 0, 0, 0.4);
		border-width: 0;
		color: #fff;
		resize: none;
		transition: 1s;
}

textarea:hover {
	transform: translateY(2px);
}
textarea::-webkit-scrollbar {
		border-radius: 25px;
}

textarea::-webkit-scrollbar-track {

}

textarea::-webkit-scrollbar-thumb {

}
#message {
	height: 20em;
	text-align: top;
}
#submit {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #083d2f;
  padding: 8px 12px;
  margin-left: 10px;
	margin-top: 10px;
  border-radius: 25px;
	z-index: 1;
	transition: 1s;
	float: left;
}
#submit span {
  position: relative;
  z-index: 1;
}

#submit:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 290%;
  width: 200%;
  background: #04AA6D;
  -webkit-transition: all .5s ease-in-out;
  transition: all 1s ease-in-out .1s;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

#submit:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



#submit:hover {
	transform: translateY(2px);
}
