@import url('./css/gfonts.css');

* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	background-color: #1b1a2a;
	background-image: url("backgroundDoM.svg");
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100%;
}
.topnav {
	background-color: rgb(31, 28, 75, 0.27);
backdrop-filter: blur(2rem);
-webkit-backdrop-filter: blur(2rem);
  overflow: hidden;
  position: relative;
  border-radius: 25px;
	width: 100%;

  margin: 5px;
transition: 0.5s;
-webkit-tap-highlight-color: transparent;
backdrop-filter: blur(2rem);
-webkit-backdrop-filter: blur(2rem);
}


.topnav #myLinks {
  display: none;
}
.active2 {
  background-color: rgba(0, 0 , 0, 0.27);
	border-radius: 15px;
	transition: 1s;
	height: 50px;
	text-align: left;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  display: block;
  font-family: Arial Black;
	border-radius: 20px;
	transition: 0.3s;
}
.topnav a:focus {
	background-color: rgba(31, 28, 75, 0.30);
	border-radius: 100px;
}
.topnav a.icon {
  background: #1152de;
  display: block;
  position: absolute;
	text-align: center;
  right: 0;
  top: 0;
	height: 50px;
	width: 50px;
	border-radius: 100%;
}





p {
	margin: 5px 0;
	transition: 1s;
	font-size: 18px;
	margin-bottom: 15px;
}

h1 {
	transition: 1s;
	font-size: 40px;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
	transition: 1s;
}

input[type=checkbox] {
	margin-right: 0;
}

.container0 {
	background-color: rgba(17,82,222,0.15);
	margin-top: 10%;
	padding: 10px;
	padding-left: 40px;
	width: 90%;
	height: auto;
	max-width: 100%;
	border-radius: 25px;
	float: left;
	margin-left: 0%;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(2rem);
	-webkit-backdrop-filter: blur(2rem);
	transition: 1s;
}


.container {
	background-color: rgba(17,82,222,0.15);
	margin-top: 10%;
	padding: 10px;
	width: 90%;
	max-width: 100%;
	border-radius: 25px;
	float: right;
	height: Auto;
	margin-right: 0%;
	backdrop-filter: blur(2rem);
	-webkit-backdrop-filter: blur(2rem);
	transition: 1s;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 0px;
  font-size: 11px;
}
.container p {
	font-size: 12px;
}
